.stats-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	padding: 5px;
}

.title {
	font-size: 30px;
	font-style: italic;
	font-family: "Trebuchet MS", sans-serif;
	font-weight: bold;
	text-align: center;
	color: #1d7220;
}

.chart-section {
	width: 100%;
	height: 40%;
	margin-bottom: 20px;
}

.creative-stats {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	gap: 10px;
}

.stat-item {
	background-color: #ffffff;
	border: 1px solid #dddddd;
	border-radius: 10px;
	padding: 20px;
	text-align: center;
}

.stat-item h3 {
	margin: 0 0 10px 0;
	font-size: 18px;
}

.stat-item p {
	margin: 0;
	font-size: 24px;
	font-weight: bold;
	color: #2c3e50;
}

@media (max-width: 600px) {
	.stat-item h3 {
		font-size: 16px;
	}

	.stat-item p {
		font-size: 20px;
	}
}

.positive {
	color: green;
}

.negative {
	color: crimson;
}

.logout-button {
	margin-top: 20px;
	margin-bottom: 35px;
	border-radius: 4px;
	margin-top: 10px;
	padding: 7px 15px;
	background-color: rgba(63, 148, 41, 0.4);
	border: 2px solid transparent;
	font-weight: bold;
	font-size: 18px;
	cursor: pointer;
	color: white;
	outline: none;
}
