.linear-gradient {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background: linear-gradient(144deg, #cfff9f 50%, #a4d477 100%, #48d18f 90%);
}

.form-label {
	font-size: 20px;
	font-style: italic;
	font-family: "Trebuchet MS", sans-serif;
	font-weight: bold;
	text-align: center;
	color: #1d7220;
	margin: 10px;
	padding-right: 5px;
	padding-bottom: 10px;
}

.form-input {
	margin-top: 20px;
	border-radius: 4px;
	padding: 8px 20px;
	background-color: rgba(85, 159, 65, 0.4);
	border: 2px solid transparent;
	font-weight: bold;
	cursor: pointer;
	outline: none;
	color: white;
}

.form-input::placeholder {
	font-size: 12px;
	font-style: italic;
	font-family: "Trebuchet MS", sans-serif;
	font-weight: bold;
	text-align: center;
	color: rgba(85, 159, 65, 1);
}

.submit-btn {
	margin-top: 40px;
	margin-left: 125px;
	border-radius: 6px;
	padding: 8px 20px;
	background-color: rgba(85, 159, 65, 0.4);
	border: 2px solid transparent;
	font-weight: bold;
	font-size: 16px;
	cursor: pointer;
	outline: none;
	color: white;
}

.form-header {
	font-size: 37px;
	font-style: bold;
	font-family: "Trebuchet MS", sans-serif;
	font-weight: bold;
	color: #1d7220;
	padding-right: 5px;
}

.form-header {
	font-size: 37px;
	font-style: bold;
	font-family: "Trebuchet MS", sans-serif;
	font-weight: bold;
	color: #1d7220;
	margin: 10px;
	padding-right: 5px;
	padding-bottom: 10px;
}
