.linearGradient {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh; /* Full viewport height */
	background: linear-gradient(144deg, #48d18f 0%, #cfff9f 50%, #eeffde 100%);
}

.title-text {
	font-size: 88px;
	font-style: italic;
	font-family: "Trebuchet MS", sans-serif;
	font-weight: bold;
	text-align: center;
	color: #1d7220;
	margin: 10px;
}

.sub-text {
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	color: #0fa430;
}

.go-button {
	margin-top: 40px;
	border-radius: 4px;
	padding: 8px 20px;
	background-color: rgba(127, 224, 103, 0.4);
	border: 2px solid transparent;
	font-weight: bold;
	cursor: pointer; /* Makes it clear the button is clickable */
	outline: none;
}

.go-button:hover {
	background-color: rgba(
		127,
		224,
		103,
		0.6
	); /* Slightly darker on hover for visual feedback */
}

.buttons-container {
	display: flex;
	flex-direction: row; /* Adjust this to change the direction of the button layout */
	justify-content: center; /* Centers the buttons horizontally */
	align-items: center; /* Aligns the buttons vertically */
}

.buttons-container {
	display: flex;
	flex-direction: row; /* Keeps buttons side by side */
	justify-content: center; /* Centers the buttons horizontally */
	align-items: center; /* Aligns the buttons vertically */
	gap: 20px; /* Adjust this value to increase or decrease the space between the buttons */
}
