.linearGradient {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background: linear-gradient(144deg, #48d18f 10%, #cfff9f 50%, #eeffde 100%);
}

.title-text {
	font-size: 98px;
	font-style: italic;
	font-family: "Trebuchet MS", sans-serif;
	font-weight: bold;
	text-align: center;
	color: #1d7220;
	margin: 10px;
}

.sub-text {
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	color: #0fa430;
}

.go-button {
	margin-top: 40px;
	border-radius: 4px;
	padding: 8px 20px;
	background-color: rgba(127, 224, 103, 0.4);
	border: 2px solid transparent;
	font-weight: bold;
	cursor: pointer;
	outline: none;
}

.go-button:hover {
	background-color: rgba(127, 224, 103, 0.6);
}

.buttons-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.buttons-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 20px;
}
